/* 전체 박스 */
.container {
  margin-top: 20px;
  padding: 20px;
  height: 100vh;

  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 제목 라벨 */
.title > p {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* 제목 입력창 */
input {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* 버튼 묶음 */
.btnDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

/* 버튼 디자인 */
.btnDiv button {
  width: 100px;
  padding: 10px;

  background-color: #4a90e2;
  color: white;
  font-size: 14px;

  border: none;
  border-radius: 6px;
  cursor: pointer;

  margin: 0;
}

/* 마우스 올렸을 때 */
.btnDiv button:hover {
  background-color: #357ab8;
}


/* ============================ */
/* 에디터 내부 이미지 크기 조절 */
/* ============================ */
/*  ReactQuill이 렌더링하는 내부 HTML 구조에 .ql-editor 클래스가 자동으로 포함되기 때문에 CSS에서 .ql-editor img를 선택자로 쓰면 충분히 적용 */
.ql-editor img {
  max-width: 80%;           /* 이미지가 너무 커지지 않게 제한 */
  height: auto;
  display: block;
  margin: 16px auto;        /* 가운데 정렬 */
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
