
/* ---------------------------------hearder-------------------------- */
.mainContainer{
  width: 80%;
  margin: 30px auto;
  border-top: 1px solid black;
  padding: 30px;
}

.mainContainer table {
  width: 100%;
  border-collapse: collapse;
}


.mainContainer table tr:not(:first-child) {
  border-top: 1px solid #e5e5e5;
}

/* 제목 */
.title{
  padding: 10px;
}

/* 작성자 날짜 조회수 박스 */
.secondContainer {
  display: flex;
  justify-content: space-between;   
}

/* 수정할때 내용박스 */
table textarea{
  resize: none
}


/* ----------------------------------버튼css --------------------------- */


/* 댓글 삭제버튼 컨테이너(댓글 날짜도 같이 묶여있음) */
.changeButton{
  background-color: #27B06E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;  
}

.changeButton:hover{
  background-color: #11C6AB;
  cursor: pointer;
  transition: all 0.5s
}

.replyDelteBtn{
  background-color: #11C6AB;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
}

.replyDelteBtn:hover{
  background-color: #27B06E;
  cursor: pointer;
  transition: all 0.5s
}




