.container {
  margin-top: 20px;
  padding: 20px;
  min-height: 100vh;

  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 제목 라벨 */
.title > p {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* 제목 입력창 */
input {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* 에디터 감싸는 박스 (추가된 부분) */
.editorWrapper {
  position: relative;
  z-index: 1;
}

/* 버튼 묶음 */
.btnDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;

  position: relative;
  z-index: 10;
  background-color: white; /* z-index 작동 위해 필요 */
}

/* 버튼 디자인 */
.btnDiv button {
  width: 100px;
  padding: 10px;

  background-color: #27B06E;
  color: white;
  font-size: 14px;

  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* 마우스 올렸을 때 */
.btnDiv button:hover {
  background-color: #11C6AB;
}

/* 에디터 안의 이미지 스타일 */
.ql-editor img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 16px auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
