.mainCon {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cateCon {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.cateCon > span {
  font-family: "Pretendard-Light", sans-serif;
  display: flex;
  padding: 5px 10px;
  font-size: 1.1rem;
}
.cateCon > span:hover {
  border: 1px solid black;
  padding: 5px 10px;

  font-family: "Pretendard-Bold", sans-serif;
  font-weight: 400;
  transition: 0.1s;
  border-radius: 20px;
}
/* 컬러 css */
.grey {
  color: rgb(201, 201, 201);
}
.green {
  color: #27b06e;
}
/* 폰트 css */
.fontBold {
  font-weight: 900;
}
.font15rem {
  font-size: 1.5rem;
}
/* icon css */
.icon {
  display: flex;
}

.cursor {
  cursor: pointer;
}
