.mainCon {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cateCon {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.cateCon > span {
  font-family: "Pretendard-Light", sans-serif;
  display: flex;
  padding: 5px 10px;
}
.cateCon > span:hover {
  color: #27b06e;
  border: 1px solid #27b06e;
  font-family: "Pretendard-Black", sans-serif;
  font-weight: 400;
  transition: 0.2s;
  border-radius: 20px;
}
/* 컬러 css */
.grey {
  color: rgb(201, 201, 201);
}

.darkGrey {
  color: rgb(100, 100, 100);
}

.green {
  color: #27b06e;
}

/* 폰트 css */
.fontBold {
  font-weight: 900;
}
.font15rem {
  font-size: 1.5rem;
}

/* icon css */
.icon {
  display: flex;
}

.cursor {
  cursor: pointer;
}

/* 헤더 반응형 사이즈 컨트롤 */
.fontWidth {
  font-size: clamp(8px, 1.1vw, 16px) !important;
}

.logoCon {
  width: 40%;
}

.logoImg {
  width: 100%;
  object-fit: cover;
  width: 100%;
}
