.mainCon {
  /* 메인 컨테이너 */
  display: flex;

  flex-direction: column;
  align-items: end;

  /* 👇 추가 */
  min-height: 600px; /* or height: 100vh; */
  width: 100%;
}

.selCon {
  /* 셀렉트 박스의 컨테이너  */
  padding-left: 5%;
  display: flex;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.selCon > div {
  /* 셀렉트 박스의 DIV를 설정해 맨 오른쪽으로 보냄 */
  display: flex;
  align-items: end;
}

select {
  /* 셀렉트박스 높이를 위한 css */
  height: 20px;
}

.statusBox {
  /* 상태 표시 박스 */ /* 이미지와 적정환경인지 표시함 */
  position: relative; /* 자식의 absolute 기준점으로 설정 */
  width: 100%; /* 넓이 */
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178); /* 박스 쉐도우 */
  margin-bottom: 20px; /* 아래 마진 */
  border-radius: 20px; /* 모서리 둥글게하기 */
  align-items: center; /* 메인축의 수직 중앙정렬 */
  justify-content: center; /* 메인축의 수평 중앙정렬 */
  height: 150px; /* 높이 */
}

.statusGood {
  font-size: 1.4rem;
  font-family: "Pretendard-Bold";
}

.imgBoxGood {
  /* 이미지 외부 영역 div */
  display: flex;
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.182); */
  width: 100px; /* 원하는 가로 크기 */
  height: 100px; /* 원하는 세로 크기 */
  overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center;
  margin-right: 20px;
}

.imgBoxGood > img {
  /* 이미지 설정 */
  width: 250px;
  border-radius: 50%;
  margin-top: 4px;
  object-fit: cover;
}

.backButton {
  cursor: pointer;
  border-style: none;
  color: white;
  border-radius: 20px;
  background-color: #27b06e;
  font-family: "Pretendard-Bold";
}

.backButton:hover {
  background-color: #11c6ab;
  transition: 0.2s;
}

.buttonBox {
  position: absolute; /* 🔥 statusBox 내부 기준으로 고정 */

  bottom: 10px;
  right: 10px;

  z-index: 1000;
}
