
/* ---------------------------------hearder-------------------------- */
.mainContainer{
  width: 80%;
  margin: 30px auto;
  border-top: 1px solid black;
}

.mainContainer table {
  width: 100%;
  border-collapse: collapse;
}


.mainContainer table tr:not(:first-child) {
  border-top: 1px solid #e5e5e5;
}

/* 제목 */
.title{
  text-align: start;
}

/* 작성자 날짜 조회수 박스 */
.secondContainer {
  display: flex;
  justify-content: space-between;   
}

/* 수정할때 내용박스 */
.insertContent{
  resize: none;
  text-align: start;
}

/* ---------------------------------댓글 등록하기 css -------------------------- */
  
/* 작성자와 댓글 내용의 묶는 부모태그(박스) */
.replyContainer {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #e5e5e5;
  padding: 20px;
}


/* 댓글 작성자 */
.input {
  width: 15%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;

}


/* 댓글 내용 */
.content { 
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  resize: none;
  margin-bottom: 10px;
}


/* 댓글 목록 */
.comment{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: solid black 1px;
  display: flex;
  flex-direction: column;
}

/* ----------------------------------버튼css --------------------------- */

.btnContainer{
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

/* 댓글 삭제버튼 컨테이너(댓글 날짜도 같이 묶여있음) */
.changeButton{
  background-color: #27B06E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;  
}

.changeButton:hover{
  background-color: #11C6AB;
  cursor: pointer;
  transition: all 0.5s
}

.replyDelteBtn{
  background-color: #11C6AB;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
}

.replyDelteBtn:hover{
  background-color: #27B06E;
  cursor: pointer;
  transition: all 0.5s
}



.replySection {
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #eee;
}

.replyTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}



.replyForm {
  display: flex;
  margin-top: 15px;
}  

.commentInput {
  width: 100%;
  border:  solid black 1px;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
  margin-right: 10px;
}
.replyBox {
  width: 80%;
  margin: 30px auto; 
}

.replyBtn{
  background-color: #27B06E;

}
.replyBtn:hover{
  background-color: #11C6AB;
}
.replyDate{
  gap: 15px;
  display: flex;
  justify-content: end;
}