.container {
  margin: 0 auto;
  width: 100%;
}

.banCon {
  width: 100%;
}

/* 공지사항 글자 */
.container h1 {
  text-align: center;
}
/* 공지사항 모든 리스트 */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin: 3px;
  cursor: pointer;
}

/* 상단 컬럼 */
.header {
  padding: 15px;
  border-top: 2px solid black;
}

/* 상단 제목 컬럼 */
.title {
  text-align: center;
}

/* 날짜 글씨 */
.date {
  text-align: center;
}

/* 등록한 날짜 */
.insertDate {
  font-size: 0.8rem;
}
/* 작성한 공지사항 리스트 */
.list {
  /* cursor: pointer; */
}

/* 상단 검색기능 */
.fuction {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

/* 상단 검색기능에 있는 select */
.fuction select {
  height: 36px;
  width: 130px;
  color: black;
  margin-right: 10px;
}

/* 상단 검색기능에 있는 input */
.fuction input {
  margin-right: 10px;
  width: 250px;
  height: 36px;
}

/* 검색버튼 */
.firstBtn {
  width: 7rem;
  padding: 6px;
  background-color: #27b06e;
  border: none;
  border-radius: 6px;
  color: white;
}

/* 검색버튼에 마우스올렸을때 반응 */
.firstBtn:hover {
  cursor: pointer;
  background-color: #11c6ab;
  transition: all 0.5s;
}
/* 등록버튼 */
.insertBtn {
  border-radius: 6px;
  margin-left: 20px;
  padding: 10px;
  width: 100px;
  background-color: #27b06e;
  color: white;
  color: white;
  border: none;
}

/* 등록버튼에 마우스올렸을때 반응 */
.insertBtn:hover {
  cursor: pointer;
  background-color: #11c6ab;
  transition: all 0.5s;
}

/* 등록버튼 부모태그 */
.secondBtn {
  display: flex;
  justify-content: end;
}

/* 리스트한 제목 */
.mapTitle {
  text-align: center;
}

/* 리스트 마우스 올렸을때 반응 */
.table tbody tr:not(:first-child):hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
}
