.container {
  margin: 0 auto;
  width: 100%;
  margin-top: 120px;
}

.container h1{
  text-align: center;
}
 .table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin:  3px; ;
}

.header {
  padding: 15px;
  border-top: 2px solid black;
}



.date{
  text-align: center;
}
.insertDate{
  font-size: 0.8rem;
}

.fuction{

  display: flex;
  justify-content: end;
  margin-top: 30px;
}

.fuction select{
  width: 7rem;
  padding: 6px;
}
.fuction input{
  width: 300px;
  padding: 6px;
}
.firstBtn {
  width: 7rem;
  padding: 6px;
  background-color: #FF6600;
  border: none;
  border-radius: 6px;
  color: white;  
} 

.insertBtn {
  border-radius: 6px;
  margin-left: 20px;
  padding: 10px;
  width: 100px;
  background-color: #00a651;
  color: white;
  color: white;
  border: none;
}
.secondBtn{
  display: flex;
  justify-content: end;
}
.title{
  text-align: center;
}
.mapTitle {
  text-align: center;
}
.table tbody tr:not(:first-child):hover {
  background-color: #f0f0f0;
}
