.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 10px;
  width: 100%;
}

.contentBox{
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}


.imgDiv{
  border-bottom: 1px solid lightgray;
}

.imgDiv > div:first-child{
  margin-bottom: 10px;
}

.imgDiv > p{
  margin-bottom: 10px;
  font-size: 0.9rem;
}


.titleDiv > p:first-child{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.3rem;
}

.titleDiv > p:nth-child(2){
  margin-bottom: 10px;
  font-size: 1rem;
}

button{
  width: 100px;
  padding: 10px;
  color: white;
  background-color: brown;
  border: none;
}

