/*리스트 영역*/
.subCon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 자식 요소들이 공간에 맞춰 줄바꿈 되도록 설정 */
  margin: 20px 0px;
}

/*작물 하나하나의 영역*/
.infoCon {
  width: calc(48% - 1%); /* 2개씩 배치하려면 50% 너비에서 간격을 빼야 한다 */
  display: flex;
  align-items: center;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.082); /* X축 이동, Y축 이동, 흐림 정도, 색상 */
}

.infoCon:hover {
  /* 마우스 호버시 그림자 짙게 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .box {
    width: 100%; /* 작은 화면에서 세로로 쌓이게 설정 */
  }
}

/* 이미지 영역 */
.picCon {
  display: flex;
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.182); */
  width: 180px; /* 원하는 가로 크기 */
  height: 180px; /* 원하는 세로 크기 */
  overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  border-radius: 50%; /* 모서리 둥글게 */
}

/* 이미지 */
.picCon > img {
  width: 180%;
  object-fit: cover; /* 비율 유지하면서 컨테이너를 꽉 채우기 */
}

/* 오른쪽 전체 영역 */
.textCon {
  display: flex;
  height: 100px; /* 원하는 세로 크기 */
  flex-direction: column;
  justify-content: space-between;
}

/* 오른쪽 제목영역 작물이름+작물영어이름 */
.titleCon {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* 적정생육환경 내용 */
.textBox {
  display: flex;
}

/* 생육환경 각 요소  */
.textBoxSon {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #b1b1b1;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #b1b1b1;
}

.textBoxSon > span:first-child {
  padding-left: 5px;
  margin-bottom: 5px;
  color: #27b06e;
}
.textBoxSon > span:nth-child(2) {
  background-color: #27b06e;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3px 15px;
  margin-right: 3px;
}
.textBoxSon > span:nth-child(2):hover {
  background-color: #11c6ab;
}
/* 컬러 css */
.grey {
  color: rgb(87, 87, 87);
}
.green {
  color: #27b06e;
}
.colorSub {
  color: #11c6ab;
}

/* 폰트 */

.fontBold {
  font-family: "Pretendard-Black";
}
.fontLight {
  font-family: "Pretendard-Light";
}

.font15rem {
  /* 폰트사이즈 1.4rem */
  font-size: 1.4rem;
}
.font08rem {
  /* 폰트사이즈 0.8rem */
  font-size: 0.9rem;
}

.maginTop10 {
  /* 위쪽 마진 10px */
  margin-top: 10px;
}

.letterSpace2 {
}

.cursor {
  /* 마우스 호버시 커서로 나오게 */
  cursor: pointer;
}
